.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 967px;
    margin: 50px auto 60px;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 439px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 52px auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 1.875rem;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: linear-gradient(to right, #2726ff, #a49cff);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    box-shadow: 0 0 8px 0 rgba(189,191,196,1);
    margin: 20px 0 0;
    padding: 8px 36px 9px 35px;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: linear-gradient(to right, #ffa726, #fff59d);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    box-shadow: 0 0 8px 0 rgba(189,191,196,1);
    margin: -41px 0 0 auto;
    padding: 8px 36px 9px 35px;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 409px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-1 {
    height: 379px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 537px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 940px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 427px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: 20px;
      margin-left: 0;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 398px;
    }
  
    .u-section-1 .u-image-1 {
      height: 367px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 446px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 329px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding: 0;
    }
  
    .u-section-1 .u-image-1 {
      height: 381px;
      width: 436px;
      margin-top: -111px;
      margin-right: 0;
      margin-left: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 955px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 540px;
      margin-bottom: 50px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: -41px;
      margin-left: auto;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 494px;
    }
  
    .u-section-1 .u-image-1 {
      margin-top: 0;
      margin-right: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 710px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3.125rem;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.25rem;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: 20px;
      margin-left: 0;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 311px;
    }
  
    .u-section-1 .u-image-1 {
      height: 297px;
      width: 340px;
    }
  }
  
  .u-section-1 .u-btn-1 {
    transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
  }
  
  .u-section-1 .u-btn-2 {
    transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
  } .u-section-2 {
    background-image: linear-gradient(0deg, rgba(255,167,38,0.8), rgba(255,167,38,0.8)), url("images/bg.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 318px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin: 40px auto 40px 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-1 {
    width: 225px;
    font-size: 3rem;
    font-style: italic;
    margin: 0 auto;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 239px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-3 {
    width: 225px;
    font-size: 3rem;
    font-style: italic;
    margin: 25px auto 0;
  }
  
  .u-section-2 .u-text-4 {
    margin: 20px 0 25px;
  }
  
  .u-section-2 .u-layout-cell-3 {
    min-height: 239px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-5 {
    font-style: italic;
    font-size: 3rem;
    margin: 25px 0 0;
  }
  
  .u-section-2 .u-text-6 {
    margin: 20px 0 25px;
  }
  
  .u-section-2 .u-layout-cell-4 {
    min-height: 239px;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-7 {
    font-style: italic;
    font-size: 3rem;
    margin: 25px 0 0;
  }
  
  .u-section-2 .u-text-8 {
    margin: 20px 0 25px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 262px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-1 {
      position: relative;
      width: 186px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-3 {
      position: relative;
      width: 186px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 201px;
    }
  
    .u-section-2 .u-text-1 {
      width: 142px;
    }
  
    .u-section-2 .u-text-3 {
      width: 142px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-1 {
      width: 133px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-3 {
      width: 133px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 964px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    width: 625px;
    margin: 81px auto 0 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 430px;
  }
  
  .u-section-3 .u-container-layout-1 {
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.2);
    padding: 30px;
  }
  
  .u-section-3 .u-icon-1 {
    height: 78px;
    width: 78px;
    background-image: none;
    color: rgb(255, 167, 38) !important;
    margin: 0 auto;
  }
  
  .u-section-3 .u-text-1 {
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.875rem;
    margin: 25px auto 0;
  }
  
  .u-section-3 .u-text-2 {
    font-style: normal;
    margin: 17px 0 0;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 362px;
  }
  
  .u-section-3 .u-container-layout-2 {
    box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
    padding: 30px 30px 28px;
  }
  
  .u-section-3 .u-icon-2 {
    height: 78px;
    width: 78px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-3 .u-text-3 {
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.875rem;
    margin: 20px auto 0;
  }
  
  .u-section-3 .u-text-4 {
    font-style: normal;
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-layout-cell-3 {
    min-height: 362px;
  }
  
  .u-section-3 .u-container-layout-3 {
    box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
    padding: 30px;
  }
  
  .u-section-3 .u-icon-3 {
    height: 78px;
    width: 78px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-3 .u-text-5 {
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.875rem;
    margin: 20px auto 0;
  }
  
  .u-section-3 .u-text-6 {
    font-style: normal;
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-layout-cell-4 {
    min-height: 430px;
  }
  
  .u-section-3 .u-container-layout-4 {
    box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
    padding: 30px;
  }
  
  .u-section-3 .u-icon-4 {
    height: 78px;
    width: 78px;
    background-image: none;
    color: rgb(255, 167, 38) !important;
    margin: 0 auto;
  }
  
  .u-section-3 .u-text-7 {
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.875rem;
    margin: 25px auto 0;
  }
  
  .u-section-3 .u-text-8 {
    font-style: normal;
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-group-1 {
    width: 507px;
    min-height: 659px;
    margin: -723px 0 64px auto;
  }
  
  .u-section-3 .u-container-layout-5 {
    padding: 40px 20px 40px 0;
  }
  
  .u-section-3 .u-text-9 {
    font-size: 3.75rem;
    letter-spacing: normal;
    font-weight: normal;
    margin: 158px 0 0;
  }
  
  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
    font-style: normal;
    margin: 31px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 923px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 565px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 443px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .u-section-3 .u-icon-1 {
      color: rgb(116, 133, 221) !important;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.625rem;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 377px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .u-section-3 .u-text-3 {
      font-size: 1.625rem;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 377px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .u-section-3 .u-icon-3 {
      color: rgb(116, 133, 221) !important;
    }
  
    .u-section-3 .u-text-5 {
      font-size: 1.5625rem;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 444px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 25px;
      padding-right: 25px;
    }
  
    .u-section-3 .u-text-7 {
      width: auto;
      font-size: 1.5625rem;
    }
  
    .u-section-3 .u-text-8 {
      width: auto;
    }
  
    .u-section-3 .u-group-1 {
      width: 358px;
      min-height: 665px;
    }
  
    .u-section-3 .u-text-9 {
      font-size: 3.4375rem;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1099px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 44px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 438px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 372px;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 372px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 438px;
    }
  
    .u-section-3 .u-group-1 {
      min-height: 187px;
      margin-top: -1011px;
      margin-bottom: 649px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .u-section-3 .u-text-9 {
      margin-top: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1359px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 29px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-group-1 {
      margin-top: -1302px;
      margin-bottom: 937px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding-top: 0;
      padding-right: 10px;
      padding-bottom: 0;
    }
  
    .u-section-3 .u-text-9 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1432px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 20px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-3 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-5 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-7 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-group-1 {
      margin-top: -1392px;
      margin-bottom: 1018px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-text-9 {
      font-size: 2.25rem;
    }
  } .u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 1137px;
  }
  
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 60px;
  }
  
  .u-section-4 .u-layout-cell-1 {
    min-height: 332px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-4 .u-group-1 {
    margin-top: 64px;
    margin-bottom: 0;
    min-height: 140px;
    width: 1080px;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 0 30px;
  }
  
  .u-section-4 .u-image-1 {
    width: 479px;
    height: 300px;
    margin: -80px auto 0 0;
  }
  
  .u-section-4 .u-text-1 {
    font-weight: 700;
    margin: -180px 0 0 510px;
  }
  
  .u-section-4 .u-text-2 {
    margin: 5px 0 0 510px;
  }
  
  .u-section-4 .u-layout-cell-2 {
    min-height: 313px;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-4 .u-group-2 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 140px;
  }
  
  .u-section-4 .u-container-layout-4 {
    padding: 0 30px;
  }
  
  .u-section-4 .u-image-2 {
    width: 479px;
    height: 300px;
    object-position: 0% 50%;
    margin: -80px 0 0 auto;
  }
  
  .u-section-4 .u-text-3 {
    font-weight: 700;
    margin: -180px 510px 0 0;
  }
  
  .u-section-4 .u-text-4 {
    margin: 5px 510px 0 0;
  }
  
  .u-section-4 .u-layout-cell-3 {
    min-height: 324px;
  }
  
  .u-section-4 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-4 .u-group-3 {
    min-height: 140px;
    width: 1080px;
    margin: 0;
  }
  
  .u-section-4 .u-container-layout-6 {
    padding: 0 30px;
  }
  
  .u-section-4 .u-image-3 {
    width: 479px;
    height: 300px;
    object-position: 0% 50%;
    margin: -80px auto 0 0;
  }
  
  .u-section-4 .u-text-5 {
    font-weight: 700;
    margin: -180px 0 0 510px;
  }
  
  .u-section-4 .u-text-6 {
    margin: 5px 0 0 510px;
  }
  
  .u-section-4 .u-layout-cell-4 {
    min-height: 323px;
  }
  
  .u-section-4 .u-container-layout-7 {
    padding: 30px;
  }
  
  .u-section-4 .u-group-4 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 140px;
  }
  
  .u-section-4 .u-container-layout-8 {
    padding: 0 30px;
  }
  
  .u-section-4 .u-image-4 {
    width: 479px;
    height: 300px;
    object-position: 0% 50%;
    margin: -80px 0 0 auto;
  }
  
  .u-section-4 .u-text-7 {
    font-weight: 700;
    margin: -180px 510px 0 0;
  }
  
  .u-section-4 .u-text-8 {
    margin: 5px 510px 0 0;
  }
  
  .u-section-4 .u-layout-cell-5 {
    min-height: 312px;
  }
  
  .u-section-4 .u-container-layout-9 {
    padding: 30px;
  }
  
  .u-section-4 .u-group-5 {
    min-height: 140px;
    width: 1080px;
    margin: 0;
  }
  
  .u-section-4 .u-container-layout-10 {
    padding: 0 30px;
  }
  
  .u-section-4 .u-image-5 {
    width: 479px;
    height: 300px;
    object-position: 0% 50%;
    margin: -80px auto 0 0;
  }
  
  .u-section-4 .u-text-9 {
    font-weight: 700;
    margin: -180px 0 0 510px;
  }
  
  .u-section-4 .u-text-10 {
    margin: 5px 0 0 510px;
  }
  
  .u-section-4 .u-layout-cell-6 {
    min-height: 324px;
  }
  
  .u-section-4 .u-container-layout-11 {
    padding: 30px;
  }
  
  .u-section-4 .u-group-6 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 140px;
  }
  
  .u-section-4 .u-container-layout-12 {
    padding: 0 30px;
  }
  
  .u-section-4 .u-image-6 {
    width: 479px;
    height: 300px;
    object-position: 56.02% 50%;
    margin: -80px 0 0 auto;
  }
  
  .u-section-4 .u-text-11 {
    font-weight: 700;
    margin: -180px 510px 0 0;
  }
  
  .u-section-4 .u-text-12 {
    margin: 5px 510px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 852px;
    }
  
    .u-section-4 .u-layout-wrap-1 {
      position: relative;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 274px;
    }
  
    .u-section-4 .u-group-1 {
      margin-top: 0;
      width: 880px;
    }
  
    .u-section-4 .u-image-1 {
      width: 399px;
      height: 250px;
      margin-top: -55px;
    }
  
    .u-section-4 .u-text-1 {
      width: auto;
      margin-top: -155px;
      margin-left: 410px;
    }
  
    .u-section-4 .u-text-2 {
      width: auto;
      margin-left: 410px;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 258px;
    }
  
    .u-section-4 .u-group-2 {
      width: 880px;
    }
  
    .u-section-4 .u-image-2 {
      width: 399px;
      height: 250px;
      margin-top: -55px;
    }
  
    .u-section-4 .u-text-3 {
      width: auto;
      margin-top: -155px;
      margin-right: 410px;
    }
  
    .u-section-4 .u-text-4 {
      width: auto;
      margin-right: 410px;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 267px;
    }
  
    .u-section-4 .u-group-3 {
      width: 880px;
    }
  
    .u-section-4 .u-image-3 {
      width: 399px;
      height: 250px;
      margin-top: -55px;
    }
  
    .u-section-4 .u-text-5 {
      width: auto;
      margin-top: -155px;
      margin-left: 410px;
    }
  
    .u-section-4 .u-text-6 {
      width: auto;
      margin-left: 410px;
    }
  
    .u-section-4 .u-layout-cell-4 {
      min-height: 266px;
    }
  
    .u-section-4 .u-group-4 {
      width: 880px;
    }
  
    .u-section-4 .u-image-4 {
      width: 399px;
      height: 250px;
      margin-top: -55px;
    }
  
    .u-section-4 .u-text-7 {
      width: auto;
      margin-top: -166px;
      margin-right: 410px;
    }
  
    .u-section-4 .u-text-8 {
      width: auto;
      margin-right: 410px;
    }
  
    .u-section-4 .u-layout-cell-5 {
      min-height: 257px;
    }
  
    .u-section-4 .u-group-5 {
      width: 880px;
    }
  
    .u-section-4 .u-image-5 {
      width: 399px;
      height: 250px;
      margin-top: -55px;
    }
  
    .u-section-4 .u-text-9 {
      width: auto;
      margin-top: -166px;
      margin-left: 410px;
    }
  
    .u-section-4 .u-text-10 {
      width: auto;
      margin-left: 410px;
    }
  
    .u-section-4 .u-layout-cell-6 {
      min-height: 267px;
    }
  
    .u-section-4 .u-group-6 {
      width: 880px;
    }
  
    .u-section-4 .u-image-6 {
      width: 398px;
      height: 250px;
      margin-top: -55px;
    }
  
    .u-section-4 .u-text-11 {
      width: auto;
      margin-top: -166px;
      margin-right: 410px;
    }
  
    .u-section-4 .u-text-12 {
      width: auto;
      margin-right: 410px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 108px;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 409px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-top: 0;
    }
  
    .u-section-4 .u-group-1 {
      margin-top: 30px;
      margin-bottom: -30px;
      min-height: 319px;
      width: auto;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-bottom: 30px;
    }
  
    .u-section-4 .u-image-1 {
      margin-left: auto;
    }
  
    .u-section-4 .u-text-1 {
      margin-top: 20px;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 0;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 404px;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-top: 0;
    }
  
    .u-section-4 .u-group-2 {
      margin-top: 30px;
      margin-bottom: -30px;
      min-height: 319px;
      width: 660px;
    }
  
    .u-section-4 .u-image-2 {
      margin-right: auto;
    }
  
    .u-section-4 .u-text-3 {
      margin-top: 20px;
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-4 {
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 409px;
    }
  
    .u-section-4 .u-container-layout-5 {
      padding-top: 0;
    }
  
    .u-section-4 .u-group-3 {
      min-height: 319px;
      margin-top: 30px;
      margin-bottom: -30px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-container-layout-6 {
      padding-bottom: 30px;
    }
  
    .u-section-4 .u-image-3 {
      margin-left: auto;
    }
  
    .u-section-4 .u-text-5 {
      margin-top: 20px;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-6 {
      margin-left: 0;
    }
  
    .u-section-4 .u-layout-cell-4 {
      min-height: 409px;
    }
  
    .u-section-4 .u-container-layout-7 {
      padding-top: 0;
    }
  
    .u-section-4 .u-group-4 {
      margin-top: 30px;
      margin-bottom: -30px;
      min-height: 319px;
      width: auto;
    }
  
    .u-section-4 .u-container-layout-8 {
      padding-bottom: 30px;
    }
  
    .u-section-4 .u-image-4 {
      margin-right: auto;
    }
  
    .u-section-4 .u-text-7 {
      margin-top: 20px;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-8 {
      margin-right: 0;
    }
  
    .u-section-4 .u-layout-cell-5 {
      min-height: 404px;
    }
  
    .u-section-4 .u-container-layout-9 {
      padding-top: 0;
    }
  
    .u-section-4 .u-group-5 {
      margin-top: 30px;
      margin-bottom: -30px;
      min-height: 319px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-container-layout-10 {
      padding-bottom: 30px;
    }
  
    .u-section-4 .u-image-5 {
      margin-left: auto;
    }
  
    .u-section-4 .u-text-9 {
      margin-top: 20px;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-10 {
      margin-left: 0;
    }
  
    .u-section-4 .u-layout-cell-6 {
      min-height: 409px;
    }
  
    .u-section-4 .u-container-layout-11 {
      padding-top: 0;
    }
  
    .u-section-4 .u-group-6 {
      margin-top: 30px;
      margin-bottom: -30px;
      min-height: 319px;
      width: auto;
    }
  
    .u-section-4 .u-container-layout-12 {
      padding-bottom: 30px;
    }
  
    .u-section-4 .u-image-6 {
      margin-right: auto;
    }
  
    .u-section-4 .u-text-11 {
      margin-top: 20px;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-12 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-layout-cell-1 {
      min-height: 379px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-1 {
      margin-right: auto;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 379px;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-group-2 {
      width: 520px;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: auto;
    }
  
    .u-section-4 .u-text-4 {
      margin-right: auto;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 378px;
    }
  
    .u-section-4 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-5 {
      margin-right: auto;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-6 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-layout-cell-4 {
      min-height: 379px;
    }
  
    .u-section-4 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-7 {
      margin-right: auto;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-8 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-layout-cell-5 {
      min-height: 378px;
    }
  
    .u-section-4 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-10 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-9 {
      margin-right: auto;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-10 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-layout-cell-6 {
      min-height: 379px;
    }
  
    .u-section-4 .u-container-layout-11 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-12 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-11 {
      margin-right: auto;
      margin-left: auto;
    }
  
    .u-section-4 .u-text-12 {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 2120px;
    }
  
    .u-section-4 .u-layout-wrap-1 {
      margin-bottom: 0;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 349px;
    }
  
    .u-section-4 .u-group-1 {
      margin-bottom: 0;
      min-height: 245px;
      width: auto;
    }
  
    .u-section-4 .u-image-1 {
      width: 300px;
      height: 188px;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 349px;
    }
  
    .u-section-4 .u-group-2 {
      margin-bottom: 0;
      min-height: 234px;
      width: auto;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-bottom: 30px;
    }
  
    .u-section-4 .u-image-2 {
      width: 300px;
      height: 188px;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 349px;
    }
  
    .u-section-4 .u-group-3 {
      min-height: 212px;
      margin-bottom: 0;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-image-3 {
      width: 300px;
      height: 188px;
    }
  
    .u-section-4 .u-layout-cell-4 {
      min-height: 349px;
    }
  
    .u-section-4 .u-group-4 {
      margin-bottom: 0;
      min-height: 234px;
      width: auto;
    }
  
    .u-section-4 .u-image-4 {
      width: 300px;
      height: 188px;
    }
  
    .u-section-4 .u-layout-cell-5 {
      min-height: 349px;
    }
  
    .u-section-4 .u-group-5 {
      margin-bottom: 0;
      min-height: 234px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-image-5 {
      width: 300px;
      height: 188px;
    }
  
    .u-section-4 .u-layout-cell-6 {
      min-height: 349px;
    }
  
    .u-section-4 .u-group-6 {
      margin-bottom: 0;
      min-height: 234px;
      width: auto;
    }
  
    .u-section-4 .u-image-6 {
      width: 300px;
      height: 188px;
    }
  }.img-user {
      transform: perspective(800px) rotateY(-30deg) rotateX(30deg);
      transition: .25s ease-in-out;
  }
  .img-user:hover {
      transform: rotateY(0deg) rotateX(0deg);
  }
  .btn-header:hover {
      box-shadow: 0px 0px 12px white;
  }
  .cell-feat {
      transition: .5s ease-in-out;
  }
  .cell-feat:hover {
      transform: scale(1.05);
      z-index: 1000;
  }
  .img-left {
      transform: perspective(1000px) rotateY(30deg) rotateX(30deg);
      transition: .25s ease-in-out;
  }
  .img-left:hover {
      transform: rotateY(0deg) rotateX(0deg);
  }
  .img-right {
      transform: perspective(1000px) rotateY(-30deg) rotateX(30deg);
      transition: .25s ease-in-out;
  }
  .img-right:hover {
      transform: rotateY(0deg) rotateX(0deg);
  }